* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}

.container {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  min-height: 80vh;
  width: 56rem;
  border-radius: 3rem;
  padding: 0 8rem;
  -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2), 0 0 5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2), 0 0 5rem rgba(0, 0, 0, 0.2);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.card__img {
  min-height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card__img .circle {
  height: 24rem;
  width: 24rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(245, 70, 66, 0.75)), to(rgba(8, 83, 156, 0.75)));
  background: linear-gradient(to right, rgba(245, 70, 66, 0.75), rgba(8, 83, 156, 0.75));
  border-radius: 50%;
  z-index: 1;
  position: absolute;
}

.card__img img {
  width: 32rem;
  z-index: 2;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.card__info h1 {
  font-size: 4.8rem;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.card__info h3 {
  font-size: 2.08rem;
  padding: 3.2rem 0;
  color: #585858;
  font-weight: lighter;
  text-transform: uppercase;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.card__sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.card__sizes .button {
  padding: 0.8rem 3.2rem;
  background: none;
  border: none;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 3rem;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}

.card__sizes .button.active {
  background: #585858;
  color: white;
}

.card__purchase {
  margin-top: 8rem;
}

.card__purchase .purchase {
  width: 100%;
  padding: 1.6rem 0;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 3rem;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}
/*# sourceMappingURL=main.css.map */